@font-face {
  font-family: "Inter Tight";
  src: url("./assets/fonts/inter_tight/InterTight-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  font-family: "Inter Tight", system-ui, Helvetica, Arial, serif;

  --color-background: #fff;
  --color-dark: #37404a;
  --color-light: #dad8d9;
  --color-brown-strong: #824644;
  --color-brown-medium: #826763;
  --color-brown-weak: #bc9c90;

  background-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #37404a;
    --color-dark: #dad8d9;
    --color-light: #37404a;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1580px;
}

* {
  margin: 0;
  padding: 0;
}
